<!-- {% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="logout-text text-center">
            <h1 class="fs-3">Hope to see you soon!</h1>
            <a href="{% url 'logout' %}">Logout</a>

    </div>
</div> 
{% endblock %} -->
{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="logout-text text-center">
            <h1 class="fs-3">Hope to see you soon!</h1>
            <form id="logout-form" action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
<script>
    document.getElementById('logout-form').addEventListener('submit', function(event) {
        event.preventDefault(); // Prevent the default form submission
        this.submit(); // Submit the form programmatically
    });
</script>
{% endblock %}
