{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">Note Details</div>
            <div class="card-body">
                <h1 class="fs-5">{{note.title}}</h1>
                <p>{{note.text}}</p>
                <p>Last Updated: {{ note.updated|date:"l, F j, Y, P e" }}</p>
            </div>
            <div class="card-footer">
                <a href="{% url 'notes.list' %}" class="btn btn-sm btn -primary"><i class="fa-solid fa-arrow-left"></i></a>
                <a href="{% url 'notes.update' pk=note.id %}" class="btn btn-sm btn -warning"><i class="fa-regular fa-pen-to-square"></i></a>
                <a href="{% url 'notes.delete' pk=note.id %}" class="btn btn-sm btn -danger"><i class="fa-solid fa-trash-can"></i></a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

